<div class="bg-light content  border-dark">
  <mat-toolbar>
    <mat-toolbar-row class="navbar-expand-lg bg-dark">
      <div class="float-left" style="width: 90%;">
        <a class="navbar-brand" href="#">
          <span class="text-warning" style="font-size: 25px;">Manufacturer Creator</span>
        </a>
      </div>
      <div>
        <button  class="btn btn-info  bg-dark border-0" (click)="createManufacturer()" >
          <mat-icon>save</mat-icon>
          <span> Save</span>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
    <div>
      <div style="height: 100px" class="float-left">
        <mat-list>
          <mat-list-item>
            <label>Manufacturer</label>
            <input matInput type="text"
                   id="name"
                   class="form-control form-input"
                   name="name"
                   placeholder=""
                   [(ngModel)]="manufacturer.name"
                   #name="ngModel"
                   required/>
            <!--
            <div *ngIf="f.submitted && model.invalid" class="invalid-input"></div>
            <div *ngIf="model.errors?.required">Field is required</div>
            -->
          </mat-list-item>
        </mat-list>
      </div>
      <div class="float-none"></div>
    </div>
  <div class="datatable">
    <h3 class="float-left">Existing manufacturers</h3>
    <mat-form-field class="float-right">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <div>
      <table mat-table [dataSource]="dataSource" matSort class="datatable mat-elevation-z8 bg-light">
        <!-- ID Column -->
        <ng-container matColumnDef="id" >
          <th mat-header-cell class="small-table-field" *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell class="small-table-field" *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button class="material-icons" (click)="deleteManufacturer(element)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button class="material-icons" (click)="editManufacturer(element)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator class="bg-light" [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
